.hero-sec{
    margin: 20px ;
}
.text-side{
    display: flex;
    flex-direction: column;
  }
  
  .get-cert{
    border: none;
    background-color: var(--tetiarycolor);
    width: 12.375rem;
  }
  .get-cert p{
    color: var(--primarycolor);
    padding: 0.25rem 0.125rem;
    font-size: 0.875rem;
    text-transform: capitalize;
    line-height: 2rem;
    text-align: center;
    margin: 0;
  }
  /* free-online courses */
  .free-online-courses{
   width: 40.5rem;

  }
  .free-online-courses h2{
    font-weight: 700;
    margin: 0;
    font-size: 3.75rem;
    text-transform: capitalize;
    text-align: start;
    color: var(--bigtextcolor);
  }
  /* metric-section */
  .metrics{
    text-align: start;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--textcolor);
  }
  
  /* input field section */
  .search-field{
    cursor: pointer;
    width: 50%;
    border: 1px solid;
    border-radius: 200px;
    display: flex;
    align-items: center;
    padding:3px 0 0 12px ;
    justify-content: space-between;
    box-sizing: border-box;
    gap:1.875rem;
    margin: 0;
    text-transform: capitalize;
  }
  .search-field input{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; 
    outline: none;
    padding: 0.25rem;
  }
  .search-icon{
    background: var(--secondarycolor);
    border: 0.0625rem solid transparent ;
    border-radius: 50%;
    padding: 0.830rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  