
.container {
    padding: 0 1rem;
    background: linear-gradient(90deg, #FE543D2A,#2FC7A126);
  }
  
.hero-sec{
    margin:0 auto ;
    display: flex;
    gap: 50px;
    width: 1280px;
    padding: 40px;
}
.text-side{
    display: flex;
    flex-direction: column;
  }
  
  .get-cert{
    border: none;
    background-color: var(--tetiarycolor);
    width: 12.375rem;
  }
  .get-cert p{
    color: var(--primarycolor);
    padding: 0.25rem 0.125rem;
    font-size: 0.875rem;
    text-transform: capitalize;
    line-height: 2rem;
    text-align: center;
    margin: 0;
  }
  /* free-online courses */
  .free-online-courses{
   width: 40.5rem;

  }
  .free-online-courses h2{
    font-weight: 700;
    margin: 0;
    font-size: 3.75rem;
    text-transform: capitalize;
    text-align: start;
    color: var(--bigtextcolor);
  }
  /* metric-section */
  .metrics{
    text-align: start;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--textcolor);
  }
  
  /* input field section */
  .search-field{
    cursor: pointer;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 200px;
    display: flex;
    align-items: center;
    padding:3px 0 0 12px ;
    justify-content: space-between;
    box-sizing: border-box;
    gap:1.875rem;
    margin: 0;
    text-transform: capitalize;
    background: white;
  }
  .search-field input{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; 
    outline: none;
    padding: 0.25rem;
    border: none;
    background: transparent;
  }
  .search-icon{
    background: var(--secondarycolor);
    border: 0.0625rem solid transparent ;
    border-radius: 50%;
    padding: 0.830rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-img{
    display: flex;
    gap: 20px;
    position: relative;
  }
  .heroLady{
    display: flex;
    margin-top: 200px;
  }

  /* student metrics */
  .studentMetrics,.studentMetric{
    display: flex;
    /* border: 1px solid ; */
    border-radius: 50px;
    background: #fff;
    padding: 10px 25px ;
    align-items: center;
    justify-content: center;
  }
  .studentMetric{
    position: absolute;
    left: 80px;
    z-index: 999;
  }
  .studentMetrics{
    position: absolute;
    right: -70px;
    bottom: 75px;
    z-index: 999;

  }
  .studentText{
     max-width: 339.2px;
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 1.5625rem;
    line-height: 2rem;
    margin: 0;
    color: var(--metricscolor);
  }
  .studentText span{
     color: black;
  }
  .studentTexts{
    max-width: 14.9319rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 2.3rem;
    line-height: 2rem;
    margin: 0;
    color: var(--primarycolor);
  }
  .studentTexts span{
    font-size: 1rem;
    color: black; 
  }
  
  