.coursesSection{
    margin: 60px auto;
    border: 2px solid brown;
}
.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.logoSec{
    display: flex;
    align-items: center;
}
.logoSec p{
    color: var(--primarycolor);
    font-size: .75rem;
    text-transform: uppercase;
    margin: 0;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title h2{
    font-size: 2.8125rem;
    font-weight: 700;
    font-family: sans-serif,poppins;
    line-height: 49px;
    text-transform: capitalize;
    text-align: left;
    width: 34.2156rem;
    margin: 0;
    color: var(--b-primarycolor);
}


/* card section */
.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    border: 4px solid ;
    width: 424px;
    height: 30%;
    padding: 2%;
  
}
.courseImages{
    position: relative;
}
.courseImages p{
    position: absolute;
    z-index: 999;
    border: 2px solid transparent;
    background: var(--o-primarycolor);
    padding: 5px 10px;
    text-align: center;
    top: 5px;
    left: 15px;
}
.ratings span{
    color: var(--inputcolor);
}
.courseTitle{
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 31.5px;
    /* font-family: epilogue; */
    color: var(--b-primarycolor);
}
.cardInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lessons, .duration, .students{
    display: flex;
    gap: 5px;
    border: 2px solid transparent;
    font-size: .875rem;
    margin: 0;
    color: var(--inputcolor);
    /* font-family: sora; */
}
.dash{
    border: 1px solid var(--inputcolor);
    border-style:dashed;
    width: 100%;
    margin: 5px 0;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px;
}

.pricingAndCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing, .cart{
    display: flex;
    gap: 10px;
    align-items: center;
}