:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primarycolor: #2fc7a1;
  --secondarycolor: #35d7ae;
  --tetiarycolor: #2fc7a126;
  --textcolor: #333931;
  --inputcolor: #4d5756;

  /* purple color */
  --metricscolor: #704fe6;
  /* orange color */
  --o-primarycolor: #fe543d;

  /* black colors */
  --b-primarycolor: #0e2a46;
  --bigtextcolor: #17254e;
}
