/* .headerSection{
 border: 4px solid ;

} */
.headerSection{
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 4px solid palevioletred; */
  }
