:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.header_section{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_list{
  width: 100%;
}
.nav_list ul{
 display: flex;
 justify-content: space-between;
 text-transform: capitalize;
}
ul li{
 display: flex;
}

/* button styling */
.btn {
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  transition: 0.2s;
}

/* VARIANTS */
.btn-primary {
  background: #2563eb;
  color: white;
}

.btn-secondary {
  background: white;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.btn-danger {
  background: #dc2626;
  color: white;
}

/* SIZES */
.btn-sm {
  padding: 6px 12px;
  font-size: 14px;
}

.btn-md {
  padding: 10px 16px;
  font-size: 16px;
}

.btn-lg {
  padding: 14px 22px;
  font-size: 18px;
}


